{
    "presets": [
      [
        "@babel/preset-env",
        {
          "exclude": ["proposal-dynamic-import"],
          "modules": "auto"
        }
      ],
      [
        "@babel/preset-react"
      ]
    ]
}